@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #e2e2e2;
    min-height: 100vh;
    width: 100%;
    display: flex;
}

main {
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    background-color: #fff;
    width: 650px;
    margin: auto;
    display: flex;
    border-radius: 30px;
}

.component-result {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: #fff;
    font-weight: 500;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px 40px 50px;
    gap: 30px;
}

.component-result .title-result {
    font-size: 20px;
    font-weight: 600;
}

.component-result p {
    color: hsl(241, 100%, 89%);
}

.component-result .percent-result {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.component-result .percent-result p {
    color: hsl(240, 24%, 68%);
}

.component-result .percent-result span {
    font-size: 72px;
    font-weight: 900;
}

.component-result .info-result {
    text-align: center;
}

.component-result .info-result h2 {
    margin-bottom: 10px;
}

.component-summary {
    color: hsl(224, 30%, 27%);
    font-weight: 600;
    width: 100%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.component-summary .list-summary {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.component-summary .list-summary li {
    display: flex;
    justify-content: space-between;
}

.component-summary .list-summary li .character-summary {
    display: flex;
    gap: 10px;
}

.component-summary .list-summary li:nth-child(1) {
    background: hsla(0, 100%, 67%, 0.2);
    height: 50px;
    border-radius: 10px;
    padding: 15px;
}

.component-summary .list-summary li:nth-child(2) {
    background: hsl(39, 100%, 56%, 0.2);
    height: 50px;
    border-radius: 10px;
    padding: 15px;
}

.component-summary .list-summary li:nth-child(3) {
    background: hsla(166, 100%, 37%, 0.2);
    height: 50px;
    border-radius: 10px;
    padding: 15px;
}

.component-summary .list-summary li:nth-child(4) {
    background: hsla(234, 85%, 45%, 0.2);
    height: 50px;
    border-radius: 10px;
    padding: 15px;
}

.component-summary .list-summary li:nth-child(1) .character-summary{
    color: hsl(0, 100%, 67%);
}

.component-summary .list-summary li:nth-child(2) .character-summary{
    color: hsl(39, 100%, 56%);
}

.component-summary .list-summary li:nth-child(3) .character-summary{
    color: hsl(166, 100%, 37%);
}

.component-summary .list-summary li:nth-child(4) .character-summary{
    color: hsl(234, 85%, 45%);
}

.component-summary .list-summary li > p {
    color: hsl(0, 0%, 41%);
}

.component-summary .list-summary li > p span {
    color: black;
}

.component-summary .btn-summary {
    background-color: hsl(224, 30%, 27%);
    border: none;
    padding: 15px;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
}

.component-summary .btn-summary:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    main {
        flex-direction: column;
    }

    .component-result {
        border-radius: 0 0 30px 30px;
    }

    .component-result .info-result {
        width: 280px;
    }
}

